export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade -reconfigure"
export TF_WORKSPACE=default
export TF_VAR_DEFAULT_ROLE=breakglass
export TF_VAR_ship_to_queue_lambda_container_version=v1.8.0-UML-2478.11
export TF_VAR_costs_to_sqs_lambda_container_version=latest
